.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  overflow: hidden;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  z-index: 1000;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  margin-top: 67px;
}
.sidebar.expanded {
  width: 200px;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar li.active {
  background-color: #e7ecef;
  color: #2c3e50;
  border-radius: 12px;
}
.sidebar li svg {
  flex-shrink: 0;
  font-size: 22px;
}

.sidebar.collapsed li.active {
  background-color: #e7ecef;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-left: 10px;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  width: 100%;
}

.sidebar li a,
.sidebar li div {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  font-weight: normal;
}

.sidebar li:hover {
  background-color: #1a252f;
  transform: scale(1.05);
}

.sidebar span {
  white-space: nowrap;
  font-size: 16px;
}

.main-content {
  margin-left: 60px;
  transition: margin-left 0.3s ease-in-out;
}

.main-content.shifted {
  margin-left: 200px;
}

@media (max-width: 768px) {
  .sidebar {
    left: -250px;
    width: 250px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sidebar.show {
    left: 0;
  }

  .sidebar.mobile ul {
    padding-top: 60px;
    width: 100%;
  }

  .sidebar.mobile li {
    width: 100%;
    display: flex;
    padding: 15px 20px;
  }

  .sidebar.mobile li span {
    display: inline-block;
    opacity: 1;
  }

  .sidebar.mobile.collapsed li.active {
    border-radius: 12px;
    height: auto;
    width: auto;
    margin-left: 0;
    justify-content: flex-start;
  }

  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .main-content {
    margin-left: 0;
  }
  .main-content.mobile-shifted {
    margin-left: 0;
  }
}
